
/* Override some defaults */
html, body {
    height:100%;
}
body {
    background-color: #E9E9D8!important;
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    /*width: 820px; downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.container-fluid{padding:0!important;margin:0!important;}

/* The white background content wrapper
.container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 44px -20px 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
*/
.row-fluid > .content {  background-color: #fff; width:100%;}
/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 35px 20px 10px;
    margin: 0 -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}
.header{border-bottom: dashed 2px #fff;}
.subheader{position:relative;background:#fff;height:42px;-webkit-box-shadow:  0px 0px 7px 3px rgba(0, 0, 0, 0.2);

    box-shadow:  0px 0px 7px 3px rgba(0, 0, 0, 0.2);}
.page-curl{position:absolute;top:-3px;right:-1px;background:#fff url(../img/layout/page_curl.jpg)no-repeat 0 0;width:69px;height:42px;}
.scissors{position:absolute;background:transparent url(../img/layout/scissors.png) no-repeat 0 0;
    width:93px; height:40px; top:10px; right:2px; }
#container-login{margin:50px auto 0 auto;padding:20px;width:250px;}
#form-login input{width:99%;margin:5px 0 0 0;}
#form-login button{width:100%;margin:8px 0 0 0;}
.container-login-fb{}
.homepage-section{position:relative;background:#ececec;padding:20px;margin-right: 10px;}
.clearfix{clear:both;}


.fb-name{margin: 8px 100px 0 0;
    color: #fff;}

/*bootstrap overrides*/
.topbar h3 a, .topbar .brand{font-weight: bold;}
#container-scene{position:relative;width:100%;height:240px;overflow: hidden;}
#market-scene{position:absolute;z-index:9;top:0;left:0;background:url(../img/layout/canvas/market-scene-bg.png) no-repeat 0 0; width:100%; height:240px;}

/*clouds*/
/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}

body {
    /*To hide the horizontal scroller appearing during the animation*/
    overflow: hidden;
}

#clouds{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height:240px;
    margin:0;
    padding:0;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 55s linear infinite;
    -moz-animation: moveclouds 55s linear infinite;
    -o-animation: moveclouds 55s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 80s linear infinite;
    -moz-animation: moveclouds 80s linear infinite;
    -o-animation: moveclouds 80s linear infinite;
}

.x3 {
    left: -250px; top: -200px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 60s linear infinite;
    -moz-animation: moveclouds 60s linear infinite;
    -o-animation: moveclouds 60s linear infinite;
}

.x4 {
    left: 470px; top: -250px;

    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}

.x5 {
    left: -150px; top: -150px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 60s linear infinite;
    -moz-animation: moveclouds 60s linear infinite;
    -o-animation: moveclouds 60s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}