<div class="span6 media-grid">
<a href="#" class="launch-image-gallery">
<img style="width:300px; height:300px;" class="temp-coupon-image thumbnail" src="http://carolinastylehairsalon.com/wp-content/themes/carolinastylehairsalon/images/hair-salon-greer-sc-coupon-icon.png"/></a>
</div>

<div class="span6">

<div class="alert">

</div>


<h3>Create A Coupon</h3>

<!----START STORE NAME-->
<form class="">
<table>
<tr>
<td><span>Company Name </span></td><td> <input type="text" class='span3' name="company_name"/></td>
</tr>
<tr>
<td><span>City </span>   </td><td><input type="text" class='span3' name="city"/></td>
</tr>
<tr>
<td><span>Zip</span> </td><td><input type="text" class='span3' name="zip"/></td>
</tr>
<tr>
<td><span>Address</span> </td><td><input type="text" class='span3' name="address"/> </td>
</tr>
<tr>
<td><span>Phone</span> </td><td><input type="text" class='span3' name="phone"/> </td>
</tr>
<tr>
<td>
Cusine
</td>
<td>
<select class="medium" name="cuisine">
<option value="french">French</option>
<option value="italian">Italian</option>
<option value="chinese">Chinese</option>
<option value="indian">Indian</option>
<option value="thai">Thai</option>
<option value="mexican">Mexican</option>
<option value="japanese">Japanese</option>
<option value="spanish">Spanish</option>
<option value="greek">Greek</option>
<option value=""></option>
</select>
</td>
</tr>

<tr>
<td><span>Promotion Text</span> </td><td><input type="text" class='span3' name="promotion"/> </td>
</tr>
<tr>
<td><a href="#" class='btn add-coupon'><i class="fa fa-plus-circle"></i> Add</a></td>
</tr>
</table>
</form>
</div>

<input type="hidden" class="coupon-image" name="image"/>
<!--END NUTSHELL-->
