<div class="span6 media-grid">
<a href="#" class="launch-image-gallery">
<img style="width:300px; height:300px;" class="temp-coupon-image thumbnail" src="http://carolinastylehairsalon.com/wp-content/themes/carolinastylehairsalon/images/hair-salon-greer-sc-coupon-icon.png"/></a>
</div>

<div class="span6">
<h3>Create Store Coupon</h3>
<div class="">
    	Store Name  <input type="text" class='span3' name="store_name"/>
</div>
<!----START STORE NAME-->
<div class="">
    	 Address         <input type="text" class='span3' name="address"/>
</div>
<!-- END STORE NAME-->
<!----START LINK-->
<div class="">
      Promotion Link     <input type="text" class="span3" name="link"/>
</div>
<!---- END LINK-->
</div>
<!--START NUTSHELL-->
<div class="row">
<div class="span6">
<h2>In NutShell</h2>
 <textarea name="promotion" class="tinymc xxlarge" style=" height:211px;"></textarea>
</div>
</div>
<input type="hidden" class="coupon-image" name="image"/>
<!--END NUTSHELL-->

<div class="span4 offset4 clear">
    	<a href="#" class='btn add-coupon'><i class="fa fa-plus-circle"></i> Add</a>
    	</div>
