<% include ../inc/header.ejs %>

<div id="container-scene">
    <div id="market-scene"></div>

    <div id="clouds">
        <div class="cloud x1"></div>
        <!-- Time for multiple clouds to dance around -->
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
</div>


<hr />
<div class="container canvas">

<div class="row coupons" data-bind="foreach: coupons.createdCoupons()">
    <div class="span-one-third coupon">
        <h5 class="tab" data-bind="text: $data.store_name">Free Coupons</h5>
   
    <div class="quickflip-wrapper" style="width:240px; height:240px;">
<div>




    <!-- ko if: $data.image -->
<img   style="width:240px; height:240px;" data-bind="attr: {src: 'coupons/'+$data.image}" />
  <!-- /ko -->
  <!-- ko ifnot: $data.image -->


<img  style="width:240px; height:240px;" class="coupon-img"  src="http://carolinastylehairsalon.com/wp-content/themes/carolinastylehairsalon/images/hair-salon-greer-sc-coupon-icon.png"/>
  <!-- /ko -->




</div>
<div>
<div class="qrcode"></div>

</div>
  </div>

<a href="#" class="btn" data-bind="click: $parent.shareCoupon.bind($data)">
Share »

</a>
<a href="#" class="btn" data-bind="click: $parent.deleteCoupon.bind($data)">
Delete »

</a>
        </div>
    </div>


</div>

</div>
</div>
<% include ../inc/footer.ejs %>