<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ShareSocial</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


    <link rel="stylesheet" href="/vendors/image-picker/image-picker.css" />
        <link rel="stylesheet" href="/vendors/datepicker/css/datepicker.css" />
        <link rel="stylesheet" href="/vendors/mosaic/css/mosaic.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" />

<script src="/js/canvasengine-1.3.1.all.min.js" type="text/javascript" language="javascript"></script>
<script src="/js/canvas.market.scene.js" type="text/javascript" language="javascript"></script>

<script data-main="application/js/config" src="//cdn.jsdelivr.net/requirejs/2.1.9/require.min.js"></script>


<script>

</script>
<script>
<% if(typeof(user)  !== 'undefined') {%>
var userArray = <%- JSON.stringify(user) %>
<% } %>
<% if(typeof(merchantCoupons)  !== 'undefined') {%>
var createdCoupons = <%- JSON.stringify(merchantCoupons) %>
<% } %>




</script>
<style>
 #files img { width:150px; height:150px;}
/* The img default style */
    .img {
        display: table; /* so that the it doesn't stretch beyond the images width */
        margin: 0px auto;
        margin - top: 10px;
        margin - bottom: 10px;
        position: relative;
        padding: 0px;
} /* the image */ .img img {
    vertical - align: bottom; - webkit - border - radius: inherit; - moz - border - radius: inherit; - o - border - radius: inherit;
    border - radius: inherit;
} /* the caption by default */ .img.caption {
    background - color: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute; /* by default we want for the caption to be visibly on top of the image*/
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding - top: 10px;
    width: 100 % ;
    height: auto;
    z - index: 9;
    padding - bottom: 10px; - webkit - transition: all 240ms ease - in -out; - moz - transition: all 240ms ease - in -out; - ms - transition: all 240ms ease - in -out; - o - transition: all 240ms ease - in -out;
    transition: all 240ms ease - in -out;
} /* img caption txt */ .img.caption.heading {
    font - weight: bold;
    font - size: 1.2em;
    text - shadow: 0px 1px 1px #000; display: block; margin-bottom: 5px; margin-left: 10px; } .img .caption p{ margin: 0px; margin-bottom: 5px; margin-left: 10px; padding: 0px 5px; font-size: .9em; } .img .caption .footer{ margin-left: 10px; margin-right: 10px; } .img .caption .footer *{ margin-left: 5px; /* to put space between each element in the footer */ }


.img.slideUp{ display: block; 
  width: 250px; height: 200px; overflow: hidden; background: white;
  float:left;
}
.img.slideUp img {
    width: inherit;
    height: inherit; - webkit - transition: all 240ms ease - in -out; /* so that img returns to its original state smoothly */ - moz - transition: all 240ms ease - in -out; - ms - transition: all 240ms ease - in -out; - o - transition: all 240ms ease - in -out;
    transition: all 240ms ease - in -out;
} /* the caption of the slideUp img */ .img.slideUp.caption {
    position: relative; /* so that it sits right beneath the image, which we will slide up to reveal the caption*/
    width: inherit;
    height: 40 % ; /* replace this with whatever height you choose */
    display: block;
    padding - bottom: 20px;
} /* the slide! */ .img.slideUp: hover img {
    margin - top: -40 % ; /* make sure this is the same as .img.slideUp .caption 's height */
    position: relative;
    vertical - align: top; - webkit - transition: all 240ms ease - in -out; - moz - transition: all 240ms ease - in -out; - ms - transition: all 240ms ease - in -out; - o - transition: all 240ms ease - in -out;
    transition: all 240ms ease - in -out;
}
.coupon {height:300px; overflow:hidden !important;}
.coupon .name {position:absolute; width:inherit; background-color:white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.coupon .name a{font-weight:bold; color:black;}
</style>
  </head>
  <body>

    <div class="topbar">

          <div class="fill header">
              <div class="container-fluid">
                  <a class="brand" href="#">Share Social</a>
                  <ul class="nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#contact">Contact</a></li>
                       <% if(typeof(user)  == 'undefined') {%>
                      <li><a href="/login">Login With Facebook</a></li>
                      <% } %>
                  </ul>

                  <div data-bind="text: user().name" class="pull-right fb-name"></div>

                  <div class="scissors"></div>
              </div>
          </div>
<!--
          <div class="subheader">
              <div class="page-curl"></div>
          </div>
-->
      </div>
      <!-- start: container -->
      <div class="container-fluid">
          <div class="row-fluid">
            <div class="content">